.app {
    margin: 2.5rem auto 0;
    max-width: 40rem;
    padding: 0 1rem;

    h1 {
        font-weight: 300;
    }

    hr {
        margin-top: 1rem;
        border-width: 0.5px;
        border-color: rgb(175, 175, 175);
    }
}
